.footer {
  &__container {
    font-family: var(--font-montserrat);
  }
  
  &__copyright {
    font-size: var(--small-size);
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    font-weight: 500;
    color: var(--light-color);
  }

  a {
    font-weight: 700;
    color: var(--light-color);

    &:hover {
      text-decoration: none;
      color: var(--purple);
    }
  }
}