/***************** GOOGLE FONTS *****************/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Space+Mono:wght@400;700&display=swap');

:root {
  --font-inconsolata: 'Inconsolata', monospace;
  --font-space-mono: 'Space Mono', monospace;
  --font-montserrat: 'Montserrat', sans-serif;
}